<div class="row">
    <div class="col">
        <img src="{{product.image}}" class="card-img-top" 
        alt="gaming-chair" class="center">
    </div>
    <div class="col-6">
            <div class="card">
                    <div class="body">
                        <p class="card-text">{{product.title}}</p>
                        <p>Description: {{product.description}}</p>
                        <p class="card-text price">{{product.price}} SEK</p>
                        In Stock<h1 [ngStyle]="{'color':product.stock>=1 ? 'green' : 'red'}" style="font-size:25px">{{product.stock}}</h1>
                        <button class="btn btn-sm btn-info" [disabled]="product.stock==0">Add to cart</button>
                    </div>
            </div>
    </div>
</div>